<br>
<div class="container">
    <div class="row">
        <div class="btn-group">
            <a routerLinkActive="active" routerLink="nombre" [routerLinkActiveOptions]="{exact:true}" class="btn btn-primary">
                Buscar por nombre
            </a>
            <a routerLinkActive="active" routerLink="status" class="btn btn-primary ">
                Buscar por status
            </a>
        </div>
    </div>
</div>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Status</th>
            <th scope="col">Raza</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personaje of personajes">
            <th scope="row">{{personaje.id}}</th>
            <td>{{personaje.nombre}}</td>
            <td>{{personaje.status}}</td>
            <td>{{personaje.especie}}</td>
        </tr>
    </tbody>
</table>