<h2>Busqueda por nombre</h2>
<hr>
<div class="row">
  <div class="col">
    <form autocomplete="off">
      <input
      id="nombre"
      type="text"
      name="nombre"
      class="form-control"
      placeholder="Buscar personaje..">
    </form>
  </div>
</div>
<!-- <table class="table table-striped table-hover">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Status</th>
          <th scope="col">Raza</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let personaje of personajes">
        let a=;
        <div *ngIf="  (nombre)==personaje.nombre">
          <th scope="row">{{personaje.id}}</th>
          <td>{{personaje.nombre}}</td>
          <td>{{personaje.status}}</td>
          <td>{{personaje.especie}}</td>
        </div>

      </tr>
  </tbody>
</table> -->
