<div class="text-center p-3 bg-dark">
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-facebook"></i>
    </a>

    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-twitter"></i>
    </a>

    <!-- Google -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-envelope"></i>
    </a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-whatsapp"></i>
    </a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-instagram"></i>
    </a>
    <p>© 2021 Copyright.</p>
</div>